body { /*Estrutura do site*/
  background-color: #352d76;
  width: 700px;
}

/*Cabeçalho-*/
header {
    
    background: #e7e2e2;
    width: 700%; /*largura*/
    height: 30%; /*altura*/
    /*Icone trocra tema */
}


  